[user]
name = gs1068
email = 74349651+gs1068@users.noreply.github.com
[core]
pager = delta
[delta]
navigate = true
side-by-side = true
line-numbers = true
[color]
status = auto
diff = auto
branch = auto
interactive = auto
grep = auto
ui = auto
[alias]
a = add
d = diff
co = checkout
cm = commit -m
l = log -p
ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
fc = "!git fetch origin $(git rev-parse --abbrev-ref HEAD)"
s = status
br = branch
rs = restore
[ghq]
root = ~/repositories
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
